body {
  background-image: url("/assets/images/tile.png");
  background-repeat: repeat;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

h1 {
  font-size: 3.5rem;
  margin: 1rem;
  text-align: center;
}

.entry-container {
  max-width: 80rem;
  border: 2px solid black;
  background-color: white;
  padding: 0rem;
  margin: auto;
  margin-bottom: 1rem;
}

.entry-header {
  padding: 0.3rem;
  border-bottom: 2px solid black;
}

.entry-header-title {
  margin: 0rem;
  font-size: 1.75rem;
}

.entry {
  margin: 0.3rem;
  font-size: 1.25rem;
}

.entry-endcard {
  padding: 0.3rem;
  background-color: #e0e0e0;
  border-top: solid black 2px;
}

.footer-container {
  text-align: right;
}

.footer {
  background: white;
  border: 1px solid grey;
  padding: 0.2rem;
  color: #404040;
  display: inline-block;
  font-family: monospace;
  font-size: 1rem;
}
