.site-title-container {
  text-align: center;
}

.site-title {
  display: inline-block;
  padding: 1rem;
  font-size: 3.5rem;
  border: 2px solid black;
  background: white;
  margin: auto;
  margin-bottom: 1rem;
}

.entry-container {
  max-width: 80rem;
  border: 2px solid black;
  background-color: white;
  padding: 0rem;
  margin: auto;
  margin-bottom: 1rem;
}

.entry-header {
  padding: 0.6rem;
  border-bottom: 2px solid black;
}

.entry-header-title {
  margin: 0rem;
  font-size: 2rem;
}

.entry {
  padding: 0.7rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-size: 1.25rem;
}

.entry-endcard {
  padding: 0.3rem;
  background-color: #e0e0e0;
  border-top: solid black 2px;
}

.footer-container {
  text-align: right;
}

.footer {
  background: white;
  border: 1px solid grey;
  padding: 0.2rem;
  color: #404040;
  display: inline-block;
  font-family: monospace;
  font-size: 1rem;
}

.basic-link:link {
  color: black;
  text-decoration: none;
}

.basic-link:visited {
  color: black;
  text-decoration: none;
}

.basic-link:hover {
  color: black;
  text-decoration: underline;
}

.basic-link:active {
  color: #303030;
  text-decoration: underline;
}
